body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  padding: 0;
  margin: 0;
}

nav a {
  transition: all 0.5s ease 0s;
}

.search-form input {
  background: #fff;
  border-radius: 0;
  padding: 14px 18px 16px 25px;
  box-shadow: 0 20px 20px rgba(0, 14, 32, 0.1);
  width: 570px;
  margin: 40px auto 25px;
  position: relative;
  border-left: 3px solid #3270fc;
  outline: 0;
}

.search-form [type="text"] {
  color: #4b5b70;
  font-size: 14px;
  /* width: 100%; */
}

.search-form button {
  position: absolute;
  top: 50px;
  right: 20px;
}

@media screen and (max-width: 768px) {
  .search-form,
  .search-form [type="text"] {
    width: 100%;
  }

  .filter-tab{
    margin-left: 0 !important;
  }
}
